.interactive-video {

    &__main {
        width: 100%;
        height: auto;
        background-color: @lightGrey;
        display: flex;
        position: relative;
        padding: 1rem;
        flex-direction: column;
    }

    &__content {
        // position: absolute;
        // top:0;
        // left:0;
        width: 100%;
        height: auto;

        padding: 0rem 1rem;
        max-width: 90%;

        h2 {
            margin-block-start: 0rem!important;
        }
    }

    &__bg-image {
        opacity: 1;

        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: auto;
        
        &.is-hidden {
            opacity: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            
        }
    }

    &__widget {
        display: flex;
        justify-content: center;
        align-items: center;

        // user-select: none;
        // speak-as: never;

        // &.visible {
        //     user-select:auto;
        //     speak-as: spell-out;
        // }
    }

    &__stages {
        width: 90%;
        height: 100%;
        position: relative;

        display: flex;
        flex-direction: column;

        @media (max-width: 823px) {
            width: 100%;
        }
    }

    &__step-bg {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: auto;

        display: inline-block;
        
        // opacity: 0;
    }

    &__controls {
        padding: 1rem;
        width: 10%;
        position:absolute;
        right:0;
        top:0;
        height: 100%;
        display: flex;
        flex-direction: column;

        @media (max-width: 823px) {
            width: 100%;
            flex-direction: row;
            height: auto;
            position: relative;
        }

        justify-content: center;

        .btn {
            flex: 0 0 auto;
            border-radius: 100%;
            width: 3.5rem;
            height: 3.5rem;
            margin: 0 auto;

            &.js-prev-stage {
                .icon {
                    .icon-controls-up;

                    @media (max-width: 823px) {
                        .icon-controls-left;
                    }
                }
            }
            
            &.js-next-stage {
                .icon {
                    .icon-controls-down;

                    @media (max-width: 823px) {
                        .icon-controls-right;
                    }
                }
                &:enabled {
                    .effect-scalePulse();
                    animation-iteration-count: 3;
                }
            }

            &.js-click-reset {

                margin-top: 2rem;
                @media (max-width: 823px) {
                    margin-top: 0rem;
                }

                display: none;
                &.is-visible {
                    display: flex;
                }

                .icon {
                    .icon-refresh;

                    transform: scaleX(-1);
                }
            }

            &:disabled {
                background-color: @disabled;
                color: @disabled-inverted;

                &:hover {
                    background-color: @disabled;
                    color: @disabled-inverted;
                }
            }
        }
    }

    &__progress-dots {
        flex: 0 0 auto;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 823px) {
            flex-direction: row;
        }
    }

    &__progress-dot {
        border-radius: 100%;
        border: 2px solid @primary-colour;
        background-color: @white;
        margin: 1rem;
        width: 1rem;
        height: 1rem;

        &.is-active {
            background-color: @secondary-colour;
        }

        &.is-complete {
            background-color: @primary-colour;
        }
    }

    .component {
        opacity: 1;

        animation-name: fadeIn;
        animation-duration: 1s;

        //padding: 1rem;
    }


    .hide {
        display: none;
    }

}


@keyframes fadeIn {
    from {opacity: 0; }
    to {opacity: 1; }
}

.dir-rtl {

    .interactive-video {
        .interactive-video__controls {
            left: 0;
            right: auto;
        }
    }

}