<div class="component__inner interactive-video__inner">
  {{> component this}} 

  <div class="interactive-video__main">

     <div class="interactive-video__content">
        <h2 class="interactive-video__content-title"></h2>
        <div class="interactive-video__content-body component__body"></div>
        <div class="interactive-video__content-instruction component__instruction"></div>
     </div>

    <div class="interactive-video__stages">
    <div class="interactive-video__bg-image is-hidden">
      <img class="interactive-video__bg-img" src="" alt="" aria-hidden="true" />
   </div>
    {{#each _items}}
        <div class="interactive-video__widget"></div>
    {{/each}}
    </div> 
    
    <div class="interactive-video__controls " >
      <button class="btn js-prev-stage">
         <span class="icon "></span>
      </button>

      <div class="interactive-video__progress-dots " >
         {{#each _stages}}
            <div class="interactive-video__progress-dot"></div>
        {{/each}}
      </div>

      <button class="btn js-next-stage">
         <span class="icon "></span>
      </button>
   </div>

  </div>

</div>
